.body{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    list-style-position: inside
}     
       
    .h1{
         font-family: 'Amatic SC', cursive;
        font-size: 80px;
    }


    .nav{
        margin: auto;
        margin-bottom: 1%;
        background-color: bisque;
        border: black;
        border-style: outset;
        border-radius: 20px;
        
    }

    .ulnav{
        display: flex;	
        justify-content: center;
        list-style-type: none;
    }


    .button{
        
        background-color: #4CAF50;
        border-radius: 15px;
        color: rgb(8, 16, 6);
        text-align: center;
        font-size: 16px;
        margin: 10px;
        cursor: pointer;
    }

   

    .div{
        text-align: left;
        font-family: 'Cormorant Unicase', serif;
        font-size: 31px;
    }

    .img{
        border: black;
        border-style: outset;
    }

    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
    }


    .blok2, .blok3, .blok4, .blok5, .blok1 {
        border: black;
        border-style: outset;
        border-radius: 20px;
    }
    
    .blok5, .blok3, .blok2 {
        background-color: beige;
    }
    .blok1, .blok4{
        background-color: #94eb97;
    }

    .blok{
        margin: 10px;
    }
